In [1]:
import requests
import pandas as pd
import numpy as np

In [28]:
#url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
url = 'https://fantasy.premierleague.com/api/event/{GW}/live/'

In [29]:
#r = requests.get(url)
r = requests.get(url)

In [30]:
#json = r.json()
json = r.json()

JSONDecodeError: Expecting value: line 2 column 1 (char 1)

In [5]:
json.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [6]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

In [7]:
elements_df.head()

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,100.0,100.0,84450,0,0,-2,2,2,3,5.3,...,265,157,496,170,47,23,118,41,1.08,0.39
1,100.0,0.0,153256,0,0,-4,4,1,3,0.0,...,634,335,141,3,457,201,249,81,0.81,0.00
2,NaN,NaN,156074,0,0,-3,3,0,2,0.7,...,598,160,165,98,405,144,377,143,0.96,0.00
3,100.0,100.0,167199,0,0,-3,3,0,3,1.5,...,311,186,473,153,210,80,284,95,1.02,0.40
4,100.0,100.0,184029,0,0,4,-4,5,3,7.7,...,44,22,736,317,7,3,5,3,1.06,0.37

In [15]:
teams_df.columns

Index(['code', 'draw', 'form', 'id', 'loss', 'name', 'played', 'points',
       'position', 'short_name', 'strength', 'team_division', 'unavailable',
       'win', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away', 'pulse_id'],
      dtype='object')

In [21]:
slim_teams_df = teams_df[['name', 'strength_overall_home', 'strength_overall_away',
       'strength_attack_home', 'strength_attack_away', 'strength_defence_home',
       'strength_defence_away']]
#slim_teams_df

In [22]:
slim_elements_df = elements_df[['id','second_name','team','element_type','selected_by_percent','form','now_cost','minutes','transfers_in_event','transfers_out_event','value_season','total_points']]
#slim_elements_df